h1{
    color:lavender;
    margin-left: 600px;
    margin-top: 30px;
}
.image{
    border: solid 3px black;
    width: 430px;
    height:430px;
    margin-left: 550px;
    margin-top: 100;
    background-color: peachpuff;
    border-radius: 10px;

}
.click{
    display: flex;
    justify-content: space-around;
}
h3{
    display: flex;
    justify-content: center;
}
img{
    margin-left:50;
    margin-top: 20;
    border: solid 10px black;
}
body{
    background-color:aqua;
}
.footer{
    position:fixed;
    bottom:0%;
    width:100%;
    font-size:large;
    background-color:black;
    color: white;
    text-align: center;
    padding: 5px;
    left:0%;
}